* {
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom:90px;
}

input[type=text]:invalid {
    border: red solid 40px;
}

.container {
    width:90%;
    display: flex;
    flex-direction: column;
    margin-left:10px;
}
.container > label {
   text-align: center;
}
#comment{
    background-color: ;
}
#addComments {
    width: 60%;
    padding: 40px;
    background-color: white;
    color: black;
    align-self: center;
}

.wrapper > button {
    margin-right: 30px;
    padding: 30px;
    background-color: white;
    color: darkblack;
}